{% extends "layout.html" %}

{% block content %}

<body class="home-page">
    <div class="grid-container container-two">
        <a href="{{ url_for('card1')}}" class="grid-item flex-box">
            <div class="flex-item">
                <h2 class="title-top">Fish Receipe</h2>
                <h2 class="title-bottom">The Ultimate Fish Sauce Receipe</h2>
            </div>
        </a>
        <a href="{{ url_for('card2')}}" class="grid-item flex-box">
            <div class="flex-item">
                <h2 class="title-top">Chicken Receipes</h2>
                <h2 class="title-bottom">Thai Basil Chicken</h2>
            </div>
        </a>
        <a href="{{ url_for('card3')}}" class="grid-item flex-box">
            <div class="flex-item">
                <h2 class="title-top">Chinese Receipes</h2>
                <h2 class="title-bottom">The Ultimate Hot Pot Dinner</h2>
            </div>
        </a>
        <a href="{{ url_for('card4')}}" class="grid-item flex-box">
            <div class="flex-item">
                <h2 class="title-top">Taco Receipes</h2>
                <h2 class="title-bottom">The Finest Taco Receipe</h2>
            </div>
        </a>
        <a href="{{ url_for('card5')}}" class="grid-item flex-box">
            <div class="flex-item">
                <h2 class="title-top">Sweet Treat Receipes</h2>
                <h2 class="title-bottom">Mint Snowman Marshmallows</h2>
            </div>
        </a>
        <a href="{{ url_for('card6')}}" class="grid-item flex-box">
            <div class="flex-item">
                <h2 class="title-top">Baking Receipes</h2>
                <h2 class="title-bottom">Gooey Chocolate Cookies</h2>
            </div>
        </a>
        <a href="{{ url_for('card7')}}" class="grid-item flex-box">
            <div class="flex-item">
                <h2 class="title-top">Sweet Treat Receipes</h2>
                <h2 class="title-bottom">Hot Chocolate Heaven</h2>
            </div>
        </a>
        <a href="{{ url_for('card8')}}" class="grid-item flex-box">
            <div class="flex-item">
                <h2 class="title-top">Meat Receipes</h2>
                <h2 class="title-bottom">Honey Baked Ham Receipes</h2>
            </div>
        </a>
        <a href="{{ url_for('card9')}}" class="grid-item flex-box">
            <div class="flex-item">
                <h2 class="title-top">Baking Receipes</h2>
                <h2 class="title-bottom">Cinnamon Rolls</h2>
            </div>
        </a>
        <a href="{{ url_for('card10')}}" class="grid-item flex-box">
            <div class="flex-item">
                <h2 class="title-top">Chicken Receipes</h2>
                <h2 class="title-bottom">Teriyaki Chicken</h2>
            </div>
        </a>
        <a href="{{ url_for('card11')}}" class="grid-item flex-box">
            <div class="flex-item">
                <h2 class="title-top">Chicken Receipes</h2>
                <h2 class="title-bottom">Honey Garlic Chicken</h2>
            </div>
        </a>
        <a href="{{ url_for('card12')}}" class="grid-item flex-box">
            <div class="flex-item">
                <h2 class="title-top">Pasta Receipes</h2>
                <h2 class="title-bottom">Marvellous Mac & Cheese</h2>
            </div>
        </a>

    </div>
</body>

{% endblock %}