<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.css"
        integrity="sha512-NtU/Act0MEcVPyqC153eyoq9L+UHkd0s22FjIaKByyA6KtZPrkm/O5c5xzaia4pyCfReCS634HyQ7tJwKNxC/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css"
        integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Title -->
    {% if title %}
    <title>BiteBurst - {{ title }}</title>
    {% else %}
    <title>BiteBurst</title>
    {% endif %}
</head>

<body class="">

    <header class="p-3">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <!-- Brand on the left -->
                <a href="{{ url_for('home')}}"
                    class="navbar-brand d-flex align-items-center mb-0 mb-lg-0 link-body-emphasis text-decoration-none">
                    <h3 class="logo">BiteBurst <i class="fa fa-cutlery" aria-hidden="true"></i>
                    </h3>
                </a>

                <!-- Toggler button for smaller screens -->
                <button class="navbar-toggler mb-1" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class=""><i class="fa-solid fa-bars"></i></span>
                </button>

                <!-- Combined collapse div for both centered and right-aligned links -->
                <div class="collapse navbar-collapse" id="navbarToggle">

                    <!-- Centered navigation links -->
                    <div class="navbar-nav mx-auto mb-0 mb-md-0">
                        <a href="{{ url_for('home')}}" class="nav-link px-2 mx-2 link-secondary"><i class="fa fa-home"
                                aria-hidden="true"></i> Home</a>
                        <a href="{{ url_for('meals')}}" class="nav-link px-2 mx-2 link-secondary"><i
                                class="fa fa-circle" aria-hidden="true"></i> Meals</a>
                        <a href="{{ url_for('receipes')}}" class="nav-link px-2 mx-2 link-body-emphasis"><i
                                class="fa fa-list-alt" aria-hidden="true"></i> Receipes</a>
                        <a href="{{ url_for('discussion')}}" class="nav-link px-2 mx-2 link-body-emphasis"><i
                                class="fa fa-comment" aria-hidden="true"></i> Discussion</a>
                    </div>

                    <!-- User-related links on the right -->
                    <div class="navbar-nav">
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('profile')}}" class="nav-link px-2 mx-2 link-body-emphasis"><i
                                class="fa fa-user fa-fw"></i> Profile</a>
                        <a href="{{ url_for('logout')}}" class="nav-link px-2 mx-2 link-body-emphasis"><i
                                class="fa fa-sign-out fa-fw white-icon"></i> Sign Out</a>
                        {% else %}
                        <a href="{{ url_for('login')}}" class="nav-link px-2 mx-2 link-body-emphasis"><i
                                class="fa fa-sign-in fa-fw white-icon"></i> Login</a>
                        <a href="{{ url_for('register')}}" class="nav-link px-2 mx-2 link-body-emphasis">
                            <i class="fa fa-user fa-fw white-icon"></i> Sign Up</a>
                        {% endif %}
                    </div>

                </div>
            </nav>
        </div>
    </header>







    <main>
        <div class="row">
            <div class="col-md-12">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>



    <footer class="col-md-12">
        <ul>
            <li>
                <a href="https://github.com/your-github-profile" target="_blank">
                    <img class="footer-white-icon" src="../static/images/211904_social_github_icon.png" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.linkedin.com/in/your-linkedin-profile" target="_blank"> <img class="footer-white-icon"
                        src="../static/images/353425_linkedin_logo_icon.png" alt="">
                </a>
            </li>

            <li>
                <a href="https://discord.gg/your-discord-server" target="_blank">
                    <img class="footer-white-icon" src="../static/images/5474124_discord_game_gaming_voice-chat_icon.png"
                        alt="">
                </a>
            </li>
        </ul>
    </footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"
        integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>
</body>

</html>