{% extends "layout.html" %}


{% block content %}
<section class="sec-1 show-animate">
    <h3 class="animate">Scroll Through Some Of Our Meals</h3>
    <p class="animate">Tasty Meals Made Easy</p>
</section>

<section class="sec-2">
    <h3 class="animate">Keep Scrolling</h3>
    <p class="animate">To See Our Tasty Meals</p>
</section>

<section class="sec-3">
    <h3 class="animate">Just A Little More!</h3>
    <p class="animate">Your Nearly There!</p>
</section>

<section class="sec-4">
    <div class="images">
        <img src="../static/images/honey-baked-ham-8357w.png" alt="" class="animate" style="--i:0;">
        <img src="../static/images/thai-basil-chicken_7196w.png" alt="" class="animate" style="--i:1;">
        <img src="../static/images/teriyaki-chicken-8201w-1024x683.png" alt="" class="animate" style="--i:2;">
    </div>
</section>
<section class="sec-4 sec-4-bg">
    <div class="images">
        <img src="../static/images/honey-garlic-chicken-3370w-1024x683.png" alt="" class="animate" style="--i:0;">
        <img src="../static/images/falafel-recipe-3482w-1024x683.png" alt="" class="animate" style="--i:1;">
        <img src="../static/images/hot-pot-8281w-2048x1366.png" alt="" class="animate" style="--i:2;">
    </div>
</section>
<section class="sec-4">
    <div class="images">
        <img src="../static/images/velveeta-mac-and-cheese-6989w-1024x683.png" alt="" class="animate" style="--i:0;">
        <img src="../static/images/dishoom-ruby-chicken-curry-recipe-2625w.png" alt="" class="animate" style="--i:1;">
        <img src="../static/images/homemade-birria-tacos-recipe-3273w.png" alt="" class="animate" style="--i:2;">
    </div>
</section>
<section class="sec-3">
    <h3 class="animate">Thats All For Now!</h3>
    <p class="animate">Check Regular For More!</p>
    <a href="#" onclick="window.scrollTo(0, 0);"><i class='fa fa-arrow-circle-up'></i></a>
</section>
<script src="../static/js/script.js"></script>
{% endblock content %}