{% extends "layout.html "%}

{% block content %}
    <h1 class="page-title">Receipes Page</h1>
    <div class="grid-card container-two-grid">
        <div class="card m-3" style="width: 18rem;">
            <img src="../static/images/fish-sauce-3692w.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{{ url_for('card1')}}" class="btn btn-form">Go somewhere</a>
            </div>
          </div>
        <div class="card m-3" style="width: 18rem;">
            <img src="../static/images/thai-basil-chicken_7196w.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{{ url_for('card2')}}" class="btn btn-form">Go somewhere</a>
            </div>
          </div>
        <div class="card m-3" style="width: 18rem;">
            <img src="../static/images/fish-sauce-3692w.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{{ url_for('card3')}}" class="btn btn-form">Go somewhere</a>
            </div>
          </div>
        <div class="card m-3" style="width: 18rem;">
            <img src="../static/images/thai-basil-chicken_7196w.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{{ url_for('card4')}}" class="btn btn-form">Go somewhere</a>
            </div>
          </div>
        <div class="card m-3" style="width: 18rem;">
            <img src="../static/images/fish-sauce-3692w.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{{ url_for('card5')}}" class="btn btn-form">Go somewhere</a>
            </div>
          </div>
        <div class="card m-3" style="width: 18rem;">
            <img src="../static/images/thai-basil-chicken_7196w.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{{ url_for('card6')}}" class="btn btn-form">Go somewhere</a>
            </div>
          </div>
        <div class="card m-3" style="width: 18rem;">
            <img src="../static/images/fish-sauce-3692w.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{{ url_for('card7')}}" class="btn btn-form">Go somewhere</a>
            </div>
          </div>
        <div class="card m-3" style="width: 18rem;">
            <img src="../static/images/thai-basil-chicken_7196w.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{{ url_for('card8')}}" class="btn btn-form">Go somewhere</a>
            </div>
          </div>
        <div class="card m-3" style="width: 18rem;">
            <img src="../static/images/fish-sauce-3692w.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{{ url_for('card9')}}" class="btn btn-form">Go somewhere</a>
            </div>
          </div>
        <div class="card m-3" style="width: 18rem;">
            <img src="../static/images/thai-basil-chicken_7196w.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{{ url_for('card10')}}" class="btn btn-form">Go somewhere</a>
            </div>
          </div>
        <div class="card m-3" style="width: 18rem;">
            <img src="../static/images/fish-sauce-3692w.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{{ url_for('card11')}}" class="btn btn-form">Go somewhere</a>
            </div>
          </div>
        <div class="card m-3" style="width: 18rem;">
            <img src="../static/images/thai-basil-chicken_7196w.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{{ url_for('card12')}}" class="btn btn-form">Go somewhere</a>
            </div>
          </div>
    </div>
{% endblock content %}