@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


/* MAIN STYLES */
main {
  flex: 1; /* This will make sure it takes up all available space */
}

/*  H STYLES */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}
/* FOOTER */

footer {
  background-color: #171717;
  margin-top: auto; /* Push the footer to the bottom */
}
footer ul {
  background-color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
 padding-block: 20px;
  gap: 120px;
}

.footer-white-icon{
  width: 50px;
  padding: 5px;
}

/* NAVIGATION STYLES */
header {
  background-color: #171717;
  border: none;
}


.navbar-nav a {
  color: #ffffff;
}
.navbar-nav a:hover {
  color: #ff7b00;
}
.navbar-nav a.active {
  color: #ff7b00;
}
.navbar-toggler {
  background-color: hsl(0, 0%, 10%);
  border: solid 1px #ff7b00;
  padding: 10px 15px !important;
  border-radius: 5px;
}

.navbar-toggler:focus {
  outline: 1px solid #ff7b00;
}

.fa-bars {
  color: white;
}

.fa-bars:hover {
  color: #ff7b00;
}
.fa-bars:active {
  color: #ff7b00;
}

.logo {
  color: #ffffff;
  font-family: "Kalam", cursive;
  font-size: 40px;
}

.height{
  height: 100vh;
}
.logo:hover {
  color: #ff7b00;
}
/* BUTTON STYLES */
.btn-close {
  background-color: #ff7b00;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
}
.btn-update {
  background-color: #ff7b00;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
}
.btn-form {
  background-color: #ff7b00;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.create-post{
  color: #fff;
  text-decoration: none;
}
.btn-form:hover {
  background-color: #bc5b00;
  color: white;
  border: none;
}
.btn-form:focus {
  background-color: #bc5b00;
  color: white;
  border: none;
}

.btn-pag {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #ff7b00;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-outline-pag {
  display: inline-block;
  font-weight: 400;
  color: #ff7b00;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid #ff7b00;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* CONTAINER & SECTION */
.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
.container-two {
  width: 100%;
  max-width: 1900px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* HOME PAGE & GRID */
.home-page {
  background-color: #171717;
  width: 100%;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  justify-content: center;
  grid-auto-rows: minmax(500px, auto);
  
}
.grid-container a {
  text-decoration: none;
}

.grid-item {
  /* Your existing styles for grid items */
  transition: transform 0.3s ease-in-out; /* Add transition for smooth scaling */  background-color: #a71d2a;

}

.grid-item:hover {
  transform: scale(1.005); /* Scale up to 1.1 on hover */
}



.grid-item:nth-of-type(1) {
  grid-column: 1 / 3;
  background-image: url("../images/fish-sauce-3692w.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.grid-item:nth-of-type(2) {
  background-image: url("../images/thai-basil-chicken_7196w.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.grid-item:nth-of-type(3) {
  background-image: url("../images/hot-pot-8281w-2048x1366.png");
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.grid-item:nth-of-type(4) {
  grid-column: 2 / 4;
  background-image: url("../images/homemade-birria-tacos-recipe-3273w.png");
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.grid-item:nth-of-type(5) {
  background-image: url("../images/mint-marshmallow-snowmans-6-2w.png");
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.grid-item:nth-of-type(6) {
  background-image: url("../images/brown-butter-chocolate-chip-cookies-5411w-2-1024x683.png");
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.grid-item:nth-of-type(7) {
  background-image: url("../images/hot-chocolate-bombs-7604w-2.png");
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.grid-item:nth-of-type(8) {
  grid-column: 1 / 3;
  background-image: url("../images/honey-baked-ham-8357w.png");
  background-size: cover;
  background-position: center;
  object-fit: cover;
  height: 800px;
}
.grid-item:nth-of-type(9) {
  height: 800px;
  background-image: url("../images/tiktok-cinnamon-rolls-3535w.png");
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.grid-item:nth-of-type(10) {
  background-image: url("../images/teriyaki-chicken-8201w-1024x683.png");
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.grid-item:nth-of-type(11) {
  background-image: url("../images/honey-garlic-chicken-3370w-1024x683.png");
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.grid-item:nth-of-type(12) {
  background-image: url("../images/velveeta-mac-and-cheese-6989w-1024x683.png");
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.flex-box {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.flex-item h2:first-of-type {
  display: inline-block; /* Make the h2 behave like an inline block */
  background-color: #171717;
  color: white;
  font-size: 1rem;
  padding: 5px;
  margin-bottom: 0;
}

.title-bottom {
  background-color: #ff7b00;
  color: white;
  padding: 5px;
}

/* DISSCUSSION/POST ARTICLE  */

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #ff7b00;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-heading {
  font-size: 2.5rem;
  word-break: break-word;
}

.media {
  flex-wrap: wrap;
}

/* COMMENT SECTION */
.comment {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 20px;
}

.comment p {
  color: #333333;
}

/* Delete Button Styles */
.comment form {
  margin-top: 10px;
}

.comment form button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.comment form button:hover {
  background-color: #a71d2a;
}

/* Nested Reply Styles */
.reply {
  margin-left: 20px;
  background-color: #f8f8f8;
  border: 1px solid #dddddd;
  border-radius: 3px;
  padding: 10px;
  margin-top: 10px;
}

.reply p {
  color: #333333;
}

/* Comment Form Styles */
.comment-form {
  margin-top: 20px;
}

.comment-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.comment-form button {
  background-color: #ff7b00;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.comment-form button:hover {
  background-color: #bc5b00;
}
.custom-textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

/* SIDEBAR STYLES */
.list-group a {
  text-decoration: none;
  color: #444444;
}
.list-group a:hover {
  text-decoration: none;
  color: #ff7b00;
}

/* RECEIPES CARD GRID & CONTAINER */
.container-two-grid {
  max-width: 1900px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.grid-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 10px;
}

/* RECEIPE CARD1-12 TITLE AND TEXT */

.page-title {
  display: flex;
  justify-content: center;
  text-align: center;
}

.pic-title {
  font-weight: 900;
  color: white;
  text-shadow: 2px 2px 2px #171717;
}

.blog-post-banner {
  font-size: 30px;
  background-color: rgb(255, 123, 0, 0.6);
}

.underline {
  text-decoration: underline;
}

/* RECEIPE CARD1-12 PAGES BACKGROUND */
.blog-bg {
  background-image: url("../images/fish-sauce-3692w.png");
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.blog-bg-card-2 {
  background-image: url("../images/thai-basil-chicken_7196w.png");
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.blog-bg-card-3 {
  background-image: url("../images/hot-pot-8281w-2048x1366.png");
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.blog-bg-card-4 {
  background-image: url("../images/homemade-birria-tacos-recipe-3273w.png");
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.blog-bg-card-5 {
  background-image: url("../images/mint-marshmallow-snowmans-6-2w.png");
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.blog-bg-card-6 {
  background-image: url("../images/brown-butter-chocolate-chip-cookies-5411w-2-1024x683.png");
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.blog-bg-card-7 {
  background-image: url("../images/hot-chocolate-bombs-7604w-2.png");
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.blog-bg-card-8 {
  background-image: url("../images/honey-baked-ham-8357w.png");
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.blog-bg-card-9 {
  background-image: url("../images/tiktok-cinnamon-rolls-3535w.png");
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.blog-bg-card-10 {
  background-image: url("../images/teriyaki-chicken-8201w-1024x683.png");
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.blog-bg-card-11 {
  background-image: url("../images/honey-garlic-chicken-3370w-1024x683.png");
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.blog-bg-card-12 {
  background-image: url("../images/velveeta-mac-and-cheese-6989w-1024x683.png");
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

/* MEAL PAGE */
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  text-align: center;
}

section h3 {
  font-size: 90px;
  font-weight: 900;
  color: white;
  padding: 10px;
}
section p {
  font-size: 35px;
  font-weight: 600;
  color: #171717;
}

section .animate {
  opacity: 0;
  filter: blur(5px);
  transition: 1s;
}

section.show-animate .animate {
  opacity: 1;
  filter: blur(0);
}
.sec-1 .animate {
  transform: translateX(-100%);
}
.sec-1.show-animate .animate {
  transform: translateX(0);
}
.sec-2 .animate {
  transform: translateX(100%);
}
.sec-2.show-animate .animate {
  transform: translateX(0);
}
.sec-3 .animate {
  transform: translateX(-100%);
}
.sec-3.show-animate .animate {
  transform: translateX(0);
}

.sec-1 {
  background: #ff7b00;
}
.sec-2 {
  background: #ffffff;
}
.sec-2 h3 {
  color: #ff7b00;
}
.sec-3 {
  background: #ff7b00;
}
.sec-4 {
  background: #ffffff;
}
.sec-4-bg {
  background: #ff7b00;
}

.sec-4 .images img {
  max-width: 500px;
  margin: 0 30px;
  transform: translateX(-100%);
  transition-delay: calc(0.2s * var(--i));
}
.sec-4.show-animate .images img {
  transform: translateX(0);
}

.fa-circle-arrow-up{
  color: #fff;
font-size: 70px;
}


/* Small devices (tablets) */
@media (min-width: 375px) {
  section h3 {
    font-size: 60px;
    font-weight: 900;
    color: white;
    
}}

/* Medium devices (desktops) */
@media (min-width: 768px) {
  section h3 {
    font-size: 80px;
    font-weight: 900;
    color: white;
    
}}

/* Large devices (desktops) */
@media (min-width: 992px) {
  .nav-small-profile {
    display: block;
    cursor: auto;
  }
}
/* Large devices (desktops) */
@media (max-width: 991px) {
  .navbar-collapse i {
    display: none;
  }
}

/* Extra Large devices (large desktops) */
@media (max-width: 1200px) {
  .nav-link {
    font-size: small;
  }
  .page-title {
    font-size: 30px;
  }

  .pic-title {
    font-size: 30px;
  }

  .blog-post-banner {
    font-size: 20px;
  }
}
@media (max-width: 1000px) {
  .row {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .col-md-4 {
    max-width: 100%;
  }
  .col-md-8 {
    max-width: 100%;
  }
}

@media (max-width: 470px) {
  .page-title {
    font-size: 25px;
    text-align: center;
  }
}

/* Adjust the grid-template-rows property for responsive height */
@media (min-width: 300px) and (max-width: 700px) {
  .grid-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    justify-content: center;
    grid-auto-rows: minmax(500px, auto);
  }
  .grid-container a {
    text-decoration: none;
  }

  .grid-item {
    background-color: #a71d2a;
  }

  .grid-item:nth-of-type(1) {
    grid-column: 1;
  }

  .grid-item:nth-of-type(4) {
    grid-column: 1;
  }

  .grid-item:nth-of-type(8) {
    grid-column: 1;

    height: 500px;
  }
  .grid-item:nth-of-type(9) {
    height: 500px;
  }
}
/* Extra Large devices (large desktops) */
@media (min-width: 700px) and (max-width: 1320px) {
  .grid-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    justify-content: center;
    grid-auto-rows: minmax(500px, auto);
  }
  .grid-container a {
    text-decoration: none;
  }

  .grid-item {
    background-color: #a71d2a;
  }

  .grid-item:nth-of-type(1) {
    grid-column: 1;
  }

  .grid-item:nth-of-type(4) {
    grid-column: 1;
  }

  .grid-item:nth-of-type(8) {
    grid-column: 1;

    height: 500px;
  }
  .grid-item:nth-of-type(9) {
    height: 500px;
  }
}
/* Devices with a width between 450px and 1550px */
@media (max-width: 450px) {
  .flex-item h2:first-of-type {
    font-size: 0.8em;
  }

  .title-bottom {
    font-size: 1rem;
  }
}
/* Devices with a width between 450px and 1550px */
@media (min-width: 450px) and (max-width: 1550px) {
  .flex-item h2:first-of-type {
    font-size: 0.8em;
  }

  .title-bottom {
    font-size: 1.5rem;
  }
}

